!**/.gitkeep
**/env/**
**/.env
**/.venv/**
**/.idea
test.db
**/*.ipynb
**/*.jfif
**/__pycache__/**
**/.ipynb_checkpoints/**
**/.pytest_cache/**
backend/prefill.env
postgres-data
postgres-docker-entry
**/.DS_Store
